// Colors
$dark-blue-color: #174873;
$green-color: #387338;
$light-gray-text-color: #BFBFBF;
$attribute-text-color: #989898;
$background-gray-color: #F4F4F4;
$auth-input-color: #D3D3D3;
$input-color: #E6E6E6;
$input-text-color: #8D8D8D;
$footer-gray-color: #D6D6D6;


// Fonts
$display-font: ff-market-web, sans-serif;
$sub-heading-font: montserrat, sans-serif;
$info-font: open-sans, sans-serif;