@import "../../sass/variables";
@import "../../sass/mixins";

.auth-modal{
    height: auto;
    width: 442px;
    max-width: 80%;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1100;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.192);
    border-radius: 12px;

    .modal-close-btn{
        height: 40px;
        width: 40px;
        position: fixed;
        top: -20px;
        right: -20px;
        border-radius: 50%;
        font-family: $sub-heading-font;
        font-size: 30px;
        font-weight: 600;
        padding-top: -15px;
        padding-left: 8px;
        color: $dark-blue-color;
        background: white;
        z-index: 1200;
        border: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.65);

    }

    .auth-modal-logo{
        width: 305px;
        max-width: 80%;
        margin: 45px auto 25px auto;
    }

    .login-lines{
        height: 1px;
        width: 255px;
        max-width: 75%;
        background-color: $auth-input-color;
        margin: 0 auto;
        border: none;
    }

    #login-bottom-line{
        margin-bottom: 15px;
    }
    
    .auth-title{
        @include display-font;
        font-size: 35px;
        margin: 5px auto;
        color: $auth-input-color;
    }

    .auth-modal-input{
        height: 30px;
        width: 360px;
        max-width: 75%;
        border: none;
        border-radius: 5px;
        color: white;
        background-color: $auth-input-color;
        margin: 10px auto;
    }

    .auth-modal-btn{
        @include green-btn;
        margin: 21px auto;
        width: 160px;
    }

    .auth-toggle-text{
        width: 300px;
        max-width: 70%;
        font-family: $sub-heading-font;
        color: $dark-blue-color;
        text-decoration: underline $dark-blue-color;
        font-size: 12px;
        line-height: 18px;
        margin: 5px auto 40px auto;
    }
}

#auth-background-overlay{
    background-color: rgba(0, 0, 0, 0.541);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}