@import "../../sass/variables";
@import "../../sass/mixins";

.campground-landing-hero {
  width: 100%;
}

#campground-background-container {
  width: 100%;
  background-size: cover;
  background-position: bottom;
  box-shadow: inset 0px 15px 12px -10px rgba(0, 0, 0, 0.315);
  margin-bottom: 30px;

  @include for-phone {
    height: 350px;
  }
  @include for-tablet-portrait {
    height: 370px;
  }
  @include for-tablet-landscape {
    height: 280px;
  }
  @include for-desktop {
  }

  .campground-background-overlay {
    height: 100%;
    // background-color: rgba(0, 0, 0, 0.281);
    // background-blend-mode: color;
    // position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(2px);
    position: relative;

    #campground-hero-park-name,
    #campground-hero-name,
    #campground-hero-coordinates,
    #campground-hero-desc,
    #campground-hero-img-credit {
      text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.651);
    }

    #campground-hero-park-name {
      margin: 0 auto;
    }

    #campground-hero-name {
      margin: 8px auto;

      @include for-phone {
        width: 300px;
      }
      @include for-tablet-portrait {
      }
      @include for-tablet-landscape {
      }
      @include for-desktop {
      }
    }

    #campground-hero-coordinates {
      margin: 0 auto;
    }

    #campground-hero-desc {
      font-family: $info-font;
      font-weight: 600;
      color: white;
      margin: 12px auto;
      @include for-phone {
        font-size: 12px;
        line-height: 16px;
        width: 335px;
      }
      @include for-tablet-portrait {
        font-size: 13px;
        line-height: 17px;
        width: 520px;
      }
      @include for-tablet-landscape {
        width: 700px;
      }
      @include for-desktop {
        width: 700px;
      }
    }

    #campground-hero-img-credit {
      margin: 0 auto;
      font-family: $info-font;
      font-size: 11px;
      color: white;
      position: absolute;
      bottom: 10px;
      right: 15px;
    }
  }
}

.google-map-container {
  height: 300px;
  width: 100%;
  max-width: 1100px;
  margin: 30px auto;
  overflow: hidden;
  position: relative;
}


.mapped-campsites-container{
  @include for-phone {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  @include for-tablet-portrait {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  @include for-tablet-landscape {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
  }
  @include for-desktop {
    width: 1075px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 10px;
  }
}

.campsite-container {
  @include product-backgrounds;
  display: flex;
  align-items: center;
  text-align: left;

  @include for-phone {
    height: 160px;
    width: 335px;
    margin: 10px auto;
  }
  @include for-tablet-portrait {
    height: 210px;
    width: 510px;
    margin: 10px auto;
  }
  @include for-tablet-landscape {
    height: 171px;
    width: 413px;
    margin: 10px 10px;
  }
  @include for-desktop {
    height: 210px;
    width: 510px;
    margin: 10px 10px;
  }

  #campsite-preview-img {
    object-fit: cover;

    @include for-phone {
      margin-left: 10px;
      height: 140px;
      width: 141px;
    }
    @include for-tablet-portrait {
      margin-left: 15px;
      height: 180px;
      width: 218px;
    }
    @include for-tablet-landscape {
      margin-left: 13px;
      height: 144px;
      width: 175px;
    }
    @include for-desktop {
      margin-left: 15px;
      height: 180px;
      width: 218px;
    }
  }


  .campsite-preview-info {
    padding-left: 10px;
    position: relative;
    @include for-phone {
      width: 160px;
      height: 140px;
    }
    @include for-tablet-portrait {
      height: 180px;
      width: 250px;
    }
    @include for-tablet-landscape {
      height: 144px;
      width: 200px;
    }
    @include for-desktop {
      height: 180px;
      width: 250px;
    }

    #campsite-prev-park-name {
      margin: 0;
      font-family: $sub-heading-font;
      color: $light-gray-text-color;
      @include for-phone {
        font-size: 11px;
      }
      @include for-tablet-portrait {
        font-size: 13px;
      }
      @include for-tablet-landscape {
        font-size: 11px;
      }
      @include for-desktop {
        font-size: 14px;
      }
    }
    #campsite-prev-cg-name {
      @include display-font;
      color: $light-gray-text-color;
      margin: 5px 0;
      @include for-phone {
        font-size: 17px;
        line-height: 19px;
      }
      @include for-tablet-portrait {
        font-size: 24px;
        line-height: 25px;
      }
      @include for-tablet-landscape {
        font-size: 20px;
        line-height: 22px;
      }
      @include for-desktop {
        font-size: 24px;
        line-height: 25px;
      }
    }
    #campsite-prev-cs-name {
      font-family: $sub-heading-font;
      font-weight: bold;
      color: $dark-blue-color;
      letter-spacing: 0.02em;
      margin: 5px 0;

      @include for-phone {
        font-size: 16px;
      }
      @include for-tablet-portrait {
        font-size: 18px;
      }
      @include for-tablet-landscape {
        font-size: 16px;
      }
      @include for-desktop {
        font-size: 20px;
      }
    }

    #campsite-prev-type {
      font-family: $info-font;
      font-weight: 600;
      color: $light-gray-text-color;
      margin: 5px 0;

      @include for-phone {
        font-size: 11px;
        line-height: 15px;
        width: 125px;
      }
      @include for-tablet-portrait {
        font-size: 12px;
        line-height: 16px;
      }
      @include for-tablet-landscape {
        font-size: 12px;
        line-height: 16px;
      }
      @include for-desktop {
        font-size: 12px;
        line-height: 16px;
      }
    }

    #campsite-prev-price {
      font-family: $sub-heading-font;
      font-weight: bold;
      letter-spacing: 0.02em;
      color: $dark-blue-color;
      text-align: right;
      margin: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      @include for-phone {
        font-size: 17px;
        // margin-right: 10px;
      }
      @include for-tablet-portrait {
        font-size: 23px;
      }
      @include for-tablet-landscape {
        font-size: 21px;
      }
      @include for-desktop {
        font-size: 23px;
      }
    }
  }
}

