@import "../../sass/variables";
@import "../../sass/mixins";

.cs-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background-color: white;
  position: relative;
  // padding: 30px auto;
  // margin-bottom: 30px;
}

.cs-major-info {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  @include for-tablet-portrait {
    width: 540px;
    height: 230px;
  }
  @include for-tablet-landscape {
    width: 840px;
    height: 420px;
  }
  @include for-desktop {
    width: 1040px;
    height: 490px;
  }
}

.cs-primary-info-inputs-btn-container {
  display: flex;
  flex-direction: column;
  @include for-phone {
  }
  @include for-tablet-portrait {
    width: 248px;
    height: 230px;
  }
  @include for-tablet-landscape {
    width: 430px;
    height: 330px;
    position: relative;
  }
  @include for-desktop {
    width: 525px;
  }
}

.cs-primary-info-container {
  padding-top: 40px;

  @include for-phone {
    margin: 0 auto;
  }
  @include for-tablet-portrait {
    display: flex;
    justify-content: space-between;
    width: 540px;
    height: 230px;
    margin: 0 auto;
  }
  @include for-tablet-landscape {
    display: flex;
    justify-content: space-between;
    width: 840px;
    height: 420px;
    margin: 0 auto;
  }
  @include for-desktop {
    display: flex;
    justify-content: space-between;
    width: 1040px;
    height: 490px;
    margin: 0 auto;
  }
}
.cs-primary-info {
  text-align: left;
  @include for-phone {
    width: 335px;
    margin: 20px auto;
  }
  @include for-tablet-portrait {
    width: 248px;
    height: 530px;
    position: relative;
  }
  @include for-tablet-landscape {
    width: 430px;
    height: auto;
    position: relative;
  }
  @include for-desktop {
    width: 525px;
    position: relative;
  }
}

.cs-park-name {
  font-family: $sub-heading-font;
  font-weight: bold;
  color: $light-gray-text-color;
  margin: 0;
  @include for-phone {
    font-size: 16px;
  }
  @include for-tablet-portrait {
    font-size: 16px;
  }
  @include for-tablet-landscape {
    font-size: 17px;
  }
  @include for-desktop {
    font-size: 18px;
  }
}

.cs-cg-name {
  @include display-font;
  color: $dark-blue-color;
  margin: 8px 0;
  @include for-phone {
    font-size: 30px;
    line-height: 30px;
  }
  @include for-tablet-portrait {
    font-size: 30px;
    line-height: 32px;
  }
  @include for-tablet-landscape {
    font-size: 34px;
    line-height: 36px;
  }
  @include for-desktop {
    font-size: 34px;
    line-height: 36px;
  }
}

.cs-name {
  @include sub-heading-font;
  color: $green-color;
  margin: -5px 0;
  @include for-phone {
    font-size: 19px;
    line-height: 20px;
  }
  @include for-tablet-portrait {
    font-size: 19px;
    line-height: 22px;
  }
  @include for-tablet-landscape {
    font-size: 20px;
    line-height: 23px;
  }
  @include for-desktop {
    font-size: 22px;
    line-height: 24px;
  }
}

.cs-type {
  font-family: $info-font;
  color: $light-gray-text-color;
  font-weight: 600;
  margin: 8px 0;
  @include for-phone {
    font-size: 13px;
  }
  @include for-tablet-portrait {
    font-size: 13px;
  }
  @include for-tablet-landscape {
    font-size: 14px;
  }
  @include for-desktop {
    font-size: 14px;
  }
}

.cs-price-container {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  font-family: $info-font;
  font-weight: 600;
  color: $green-color;
  font-size: 14px;

  @include for-phone {
  }
  @include for-tablet-portrait {
    position: absolute;
    bottom: 20px;
  }
  @include for-tablet-landscape {
    position: relative;
    // margin-top: -25px;
    bottom: 10px;
  }
  @include for-desktop {
  }
}

#cs-price {
  color: $green-color;
  letter-spacing: 0.02em;
  font-size: 28px;
  @include for-phone {
    margin: 10px 5px 25px 0;
  }
  @include for-tablet-portrait {
    margin: 10px 5px 0 0;
  }
  @include for-tablet-landscape {
  }
  @include for-desktop {
  }
}

.cs-input-btn-container {
  @include for-phone {
  }
  @include for-tablet-portrait {
    width: 540px;
    margin: 245px auto 60px -292px;
    position: absolute;
    // left: 0;
    display: flex;
    justify-content: space-between;
  }
  @include for-tablet-landscape {
    width: 430px;
    margin: 0 auto 0 auto;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
  }
  @include for-desktop {
    width: 525px;
    margin-top: 75px;
    position: relative;
  }
}

.cs-inputs {
  display: flex;
  text-align: left;
  @include for-phone {
    width: 335px;
    margin: 0 auto;
  }
  @include for-tablet-portrait {
    width: 248px;
    justify-content: flex-start;
  }
  @include for-tablet-landscape {
  }
  @include for-desktop {
  }
}



.cs-input-start-date {
  @include input-heading-text;
  @include for-phone {
  }
  @include for-tablet-portrait {
  }
  @include for-tablet-landscape {
  }
  @include for-desktop {
  }
}

.cs-date-input {
  @include edit-input;
  height: 25px;
  margin-top: 5px;
  padding: 0 0 0 10px;
  @include for-phone {
  }
  @include for-tablet-portrait {
    width: 130px;
    height: 40px;
  }
  @include for-tablet-landscape {
    width: 150px;
    height: 40px;
  }
  @include for-desktop {
  }
}

.cs-input-duration {
  @include input-heading-text;
  margin-left: 20px;
  @include for-phone {
  }
  @include for-tablet-portrait {
  }
  @include for-tablet-landscape {
  }
  @include for-desktop {
  }
}

.cs-days-input {
  @include edit-input;
  height: 25px;
  margin-top: 5px;
  padding: 0 0 0 10px;
  width: 45px;
  @include for-phone {
  }
  @include for-tablet-portrait {
    width: 50px;
    height: 40px;
  }
  @include for-tablet-landscape {
    width: 60px;
  }
  @include for-desktop {
  }
}

.reserve-btn-container {
  display: flex;
  @include for-phone {
    width: 335px;
    margin: 15px auto;
  }
  @include for-tablet-portrait {
    width: 248px;
    justify-content: flex-end;
    margin-top: 10px;
    // margin: 0px;
  }
  @include for-tablet-landscape {
  }
  @include for-desktop {
  }
}

.reserve-btn {
  @include green-btn;
  @include for-phone {
    margin-bottom: 10px;
  }
  @include for-tablet-portrait {
  }
  @include for-tablet-landscape {
    font-size: 12px;
  }
  @include for-desktop {
    font-size: 12px;
  }
}

.cs-attributes-map-container {
  @include for-phone {
    padding-bottom: 30px;
  }
  @include for-tablet-portrait {
    padding-bottom: 30px;
  }
  @include for-tablet-landscape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 840px;
    margin: 10px auto 0 auto;
  }
  @include for-desktop {
    width: 1040px;
    margin: 10px auto 0 auto;
  }
}

.cs-attributes-container {
  font-family: $info-font;
  color: $attribute-text-color;
  margin: 25px auto 0 auto;

  @include for-phone {
    width: 335px;
  }
  @include for-tablet-portrait {
    width: 460px;
  }
  @include for-tablet-landscape {
    width: 440px;
    margin: 0;
  }
  @include for-desktop {
    width: 480px;
  }
}

.cs-attributes-row {
  display: flex;
  justify-content: space-evenly;
}

.cs-coordinate-attribute {
  @include for-phone {
    font-size: 13px;
    padding-bottom: 10px;
  }
  @include for-tablet-portrait {
    font-size: 13px;
    padding-bottom: 10px;
  }
  @include for-tablet-landscape {
    font-size: 14px;
  }
  @include for-desktop {
    font-size: 14px;
  }
}

.cs-attribute {
  @include for-phone {
    font-size: 12px;
    padding: 10px 0;
  }
  @include for-tablet-portrait {
    font-size: 12px;
    padding: 10px 0;
  }
  @include for-tablet-landscape {
    font-size: 12px;
  }
  @include for-desktop {
    font-size: 12px;
  }
}

.cs-line {
  @include divider-lines;
}

#line1 {
  @include for-phone {
    width: 335px;
  }
  @include for-tablet-portrait {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  @include for-tablet-landscape {
    position: absolute;
    bottom: -40px;
  }
  @include for-desktop {
  }
}

#line2 {
  @include for-phone {
    width: 335px;
  }
  @include for-tablet-portrait {
    width: 540px;
    margin-top: 140px;
  }
  @include for-tablet-landscape {
    width: 840px;
    margin-top: 60px;
  }
  @include for-desktop {
    width: 1040px;
  }
}

#attribute-line {
  @include for-phone {
    width: 335px;
  }
  @include for-tablet-portrait {
  }
  @include for-tablet-landscape {
  }
  @include for-desktop {
  }
}

.cs-map-container {
  @include product-backgrounds;
  box-sizing: border-box;
  border: 15px white solid;
  padding: 0;
  height: 300px;
  overflow: hidden;
  position: relative;

  @include for-phone {
    width: 335px;
    margin: 20px auto 0 auto;
  }
  @include for-tablet-portrait {
    width: 550px;
    margin: 20px auto 0 auto;
    overflow: hidden;
  }
  @include for-tablet-landscape {
    width: 360px;
    height: 300px;
    margin: 20px 0;
    overflow: hidden;
    // padding-bottom: 5px;
  }
  @include for-desktop {
    width: 530px;
    margin-top: 20px;
  }
}

// @include for-phone {
// }
// @include for-tablet-portrait {
// }
// @include for-tablet-landscape {
// }
// @include for-desktop {
// }
