@import "./src/sass/variables";
@import "./src/sass/mixins";

.App {
  text-align: center;
  height: auto;
  width: 100%;
  max-width: 1100px;
  background-color: rgb(236, 236, 236);
  margin: auto;
}

h2 {
  @include display-font;
  color: white;
  letter-spacing: 0.08em;
  @include for-phone {
    font-size: 32px;
    line-height: 31px;
  }
  @include for-tablet-portrait {
    font-size: 41px;
    line-height: 42px;
  }
  @include for-tablet-landscape {
    font-size: 41px;
    line-height: 52px;
  }
  @include for-desktop {
    font-size: 48px;
    line-height: 52px;
  }
}

h5 {
  font-family: $sub-heading-font;
  font-weight: bold;
  color: white;
  @include for-phone {
    font-size: 16px;
  }
  @include for-tablet-portrait {
    font-size: 19px;
  }
  @include for-tablet-landscape {
    font-size: 21px;
  }
  @include for-desktop {
    font-size: 23px;
  }
}

h6 {
  font-family: $sub-heading-font;
  font-weight: bold;
  color: white;
  @include for-phone {
    font-size: 14px;
  }
  @include for-tablet-portrait {
    font-size: 15px;
  }
  @include for-tablet-landscape {
    font-size: 15px;
  }
  @include for-desktop {
    font-size: 16px;
  }
}

button:focus{
  outline: none;
}

// @include for-phone{
//   width: 100%;
// };
// @include for-tablet-portrait{
//   width: 100%;
// };
// @include for-tablet-landscape{
//   width: 100%;
// };
// @include for-desktop{
//   max-width: 1100px;
// };
