@import './src/sass/mixins';

.App {
  text-align: center;
}

@include for-phone{
  width: 100%;
};
@include for-tablet-portrait{
  width: 100%;
};
@include for-tablet-landscape{
  width: 100%;
};
@include for-desktop{
  max-width: 1100px;
};
